.card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 240px;
    background-color: var(--brand-200);
    justify-self: center;
    border-radius: 10px;
    box-shadow: 14px 20px 10px 0px var(--shadow);
}

.title {
    margin-bottom: 12px;
}
