.card {
    padding: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 294px;
    background-color: var(--brand-300);
    justify-self: center;
    /* border-radius: 10px; */
    /* box-shadow: 14px 20px 20px 10px var(--shadow); */
}

.title {
    font-size: 24px;
    margin-bottom: 18px;
}

.text {
    font-size: 16px;
}
